<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <dict>
        <key>id</key>
        <integer>1</integer>
        <key>type</key>
        <integer>1</integer>
        <key>result_type</key>
        <integer>1</integer>
        <key>name</key>
        <string>test</string>
        <key>text</key>
        <string>らりるれろらりるれろらりるれろ...</string>
        <key>point</key>
        <integer>1</integer>
        <key>icon_type</key>
        <integer>1</integer>
        <key>appaer_day_type</key>
        <integer>0</integer>
        <key>appaer_time_type</key>
        <integer>0</integer>
</dict>
        <dict>
        <key>id</key>
        <integer>2</integer>
        <key>type</key>
        <integer>2</integer>
        <key>result_type</key>
        <integer>1</integer>
</dict>
        <dict>
        <key>id</key>
        <integer>3</integer>
        <key>type</key>
        <integer>1</integer>
        <key>result_type</key>
        <integer>1</integer>
</dict>
        <dict>
        <key>id</key>
        <integer>4</integer>
        <key>type</key>
        <integer>1</integer>
        <key>result_type</key>
        <integer>1</integer>
</dict>
        <dict>
        <key>id</key>
        <integer>5</integer>
        <key>type</key>
        <integer>1</integer>
        <key>result_type</key>
        <integer>1</integer>
</dict>
        <dict>
        <key>id</key>
        <integer>6</integer>
        <key>type</key>
        <integer>1</integer>
        <key>result_type</key>
        <integer>1</integer>
</dict>
        <dict>
        <key>id</key>
        <integer>7</integer>
        <key>type</key>
        <integer>1</integer>
        <key>result_type</key>
        <integer>1</integer>
</dict>
</array>
</plist>